body { font-family: helvetica; background: #ccc; color: #333;}
a { color: #333; background: #ccc;}

#log {
	background: #000;
	height: 200px;
	overflow: auto;
	font-family: monospace;
	padding: 10px;
}

.added { color: lightgreen; }

.removed { color: red;}

.changed { color: orange;}

b { color: #ccc; font-weight: normal;}